CompileFlags:
  Compiler: /usr/bin/g++
  Add:
    - "-I/usr/include/c++/11"
    - "-I/usr/include/x86_64-linux-gnu/c++/11"
    - "-I/usr/include/c++/11/backward"
    - "-I/usr/lib/gcc/x86_64-linux-gnu/11/include"
    - "-I/usr/local/include"
    - "-I/usr/include/x86_64-linux-gnu"
    - "-I/usr/include"
    - "-I/opt/ros/humble/include/rclcpp/rclcpp"
    - "-I/opt/ros/humble/include/nav_msgs/nav_msgs"
    - "-I/opt/ros/humble/include/geometry_msgs/geometry_msgs"
    - "-I/opt/ros/humble/include/std_msgs/std_msgs"
    - "-I/opt/ros/humble/include/visualization_msgs/visualization_msgs"
    - "-I/opt/ros/humble/include/pluginlib/pluginlib"
    - "-I/opt/ros/humble/include/octomap_msgs/octomap_msgs"
    - "-I/opt/ros/humble/include/sensor_msgs/sensor_msgs"
    - "-I/opt/ros/humble/include/tf2/tf2"
    - "-I/opt/ros/humble/include/tf2_ros/tf2_ros"
    - "-I/opt/ros/humble/include/rclcpp_action/rclcpp_action"
    - "-I/opt/ros/humble/include/builtin_interfaces/builtin_interfaces"
    - "-I/opt/ros/humble/include/action_msgs/action_msgs"
    - "-I/opt/ros/humble/include/unique_identifier_msgs/unique_identifier_msgs"
    - "-I/opt/ros/humble/include/rcl/rcl"
    - "-I/opt/ros/humble/include/rcutils/rcutils"
    - "-I/opt/ros/humble/include/rmw/rmw"
    - "-I/opt/ros/humble/include/rosidl_runtime_cpp/rosidl_runtime_cpp"
    - "-I/opt/ros/humble/include/class_loader/class_loader"
    - "-I/home/david/ros2_ws/install/mbf_octo_core/include"
    - "-I/home/david/ros2_ws/install/mbf_abstract_core/include"
    - "-I/home/david/ros2_ws/install/mbf_msgs/include/mbf_msgs"
    - "-I/home/david/ros2_ws/install/mbf_utility/include"
    - "-I/usr/local/include/eigen3"
